/******************for registration css**********************/
.form {
    width: 500px;
    height: 450px;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #555;
    background-color: #fff;
    /* margin: 10% 0px 0px 30%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.5%;
    margin-bottom: 5%;
}

#font-F {
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px
}

#font-u {
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px
}

#font-n {
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px
}

#font-d {
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px
}

#font-O {
    color: yellowgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px
}

#font-o {
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px
}

#font {
    font-weight: normal;
    margin-top: 0%;
}

/* input[type=textfield] {
    width: 150px;
    height: 50%;
    padding: 15px 35px;
} */

#outlined-text-input {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 40px;
}

/* #outlined-email-input {
    margin-left: 0px;
    margin-right: 40px;
} */

input[type=email] {
    width: 390px;
    padding: 19px 35px;
}

#outlined-adornment-password {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

#font1 {
    color: black;
    font-family: normal;
    font-size: 14px;
    margin-top: 2%
}

#buttn {
    margin-left: 0%;
    margin-right: 8%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}



/***********************for login css*********************************/
.form1 {
    width: 400px;
    height: 450px;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #555;
    background-color: #fff;
    /* margin: 10% 0px 0px 30%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.5%;
    margin-bottom: 5%;
}

#fontt {
    font-weight: normal;
    margin-top: 0%;
    text-align: center
}

#outlined-email-input1 {
    margin-left: 63px;
    margin-right: 0px;
}

input[type=email1] {
    padding: 19px 42px;
}

input[type=password1] {
    width: 200px;
    height: 70%;
    padding: 15px 35px;
}

#outlined-adornment-password1 {
    margin-left: 63px;
    margin-right: 0px;
    margin-top: 3%
}

#buttn1 {
    margin-left: 14.5%;
    margin-right: 17%;
    margin-top: 9%;
    display: flex;
    justify-content: space-between;
}

/*************************for forgotPassword css********************/
#outlined-email-inputt {
    margin-left: 40px;
    margin-right: 0px;
}

input[type=emaill] {
    width: 250px;
    height: 70%;
    padding: 20px 35px;
}

#butt {
    margin-left: 69%;
    margin-right: 0%;
    margin-top: 8%;
}

/**********************for resetPassword css***********************/

#outlined-adornment-password2 {
    margin-left: 63px;
    margin-right: 0px;
    margin-top: 8%
}

#butn {
    margin-left: 15.5%;
    margin-right: 17%;
    margin-top: 9%;
    display: flex;
    justify-content: space-between;
}

/***********************for dashBoard css***************************/

root {
    width: 100%;
}

grow {
    flex-grow: 1
}

menuButton {
    margin-left: -12;
    margin-right: 20
}

title {
    display: 'none';
    display: 'block'
}

search {
    position: 'relative';
}

searchIcon {
    height: '100%';
    position: 'absolute';
    pointer-events: 'none';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}

inputRoot {
    color: 'inherit';
    width: '100%';
}

inputInput {
    width: '100%'
}

sectionDesktop {
    display: 'none';
    display: 'flex';
}

sectionMobile {
    display: 'flex';
    display: 'none';
}